<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>adduser</title>
    <style>

    </style>
</head>
<body>
<h3>Create user</h3>
<form th:action="@{save}" th:object="${user}" th:method ="POST">
    <p><input type="text" placeholder="Name" th:field="*{username}" required/></p>
    <p><input type="text" placeholder="Second Name" th:field="*{lastName}" required/></p>
    <p><input type="text" placeholder="Email" th:field="*{email}" required/></p>
    <p><input type="text" placeholder="Password" th:field="*{password}" required/></p>
    <p>Роли:&nbsp
        <th:block th:each="role: ${roles}" required>
            <input type="checkbox"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </th:block>
    </p>
        <input type="submit" value="Сохранить"/>
</form>
<br>
<form name="logoutForm" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>