<!DOCTYPE html>
<html lang="en" xmlns:c="">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
  <style>
    td{
      border-bottom: 1px solid black;
      height: 15px;
    }
    th{
      width: 50px;
      border-right: 1px solid black;
    }
  </style>
</head>
<body>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>SecondName</th>
    <th>Email</th>
    <th>Roles</th>

  </tr>
  <th:block th:each="user : ${users}">

    <th:url var="editButton" value="/editUser">
      <th:param name="userId" value="${user.id}"/>
    </th:url>

    <tr>
      <td th:text="${user.getId}"></td>
      <td th:text="${user.getUsername}"></td>
      <td th:text="${user.getLastName}"></td>
      <td th:text="${user.getEmail}"></td>
      <td th:text="${user.getStringRoles}">
      <td>
      <a type="button" th:href = "@{/admin/user/{id}(id=${user.getId()})}">Update</a>
      <a th:href = "@{/admin/delete/{id}(id=${user.getId()})}">Delete</a>

    </tr>
  </th:block>


</table>

<input type="button" value="Create new User" onclick="window.location.href = 'adduser'"/>

<br>
<form name="logoutForm" th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>

</body>
</html>